@model HelpMyBook.Web.ViewModels.Books.BookDetailsViewModel
    @using System.Globalization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.Title</h1>
<div class="row">
    <div class="col-md-5">
        <div class="text-justify">
            <span style="font-size:24px">Description of the book:</span>
            <br />
            <span style="font-size:23px"> @Model.Description</span>
        </div>
        <br /><br />
        @if (Model.BookFile != null)
            {
                if (Model.BookFile.Downloadable)
                {
                @Ajax.ActionLink("Download this book", "DownloadBook", "Files", new { id = Model.BookFile.Id }, new AjaxOptions { HttpMethod = "GET" }, new { @class = "btn btn-lg btn-warning" })

            }
            else
            {
                <h3>The owner doesn't want to share his book!</h3>
            }
        }
        else
        {
            <h3>The book isn't uploaded</h3>
        }
        @if (Model.OwnerLooking)
            {
            @Ajax.ActionLink("Edit book", "Edit", new { id = Model.Id }, new AjaxOptions { HttpMethod = "GET" }, new { @class = "btn btn-lg btn-primary" })
        }
    </div>
    <div class="col-md-6 col-md-offset-1">
        <h2>Required amount: <span class="text-info">@Math.Floor(Model.RequredMoney).ToString("N", new CultureInfo("en-US"))$</span></h2>
        <h2>Current amount:  <span class="text-info" id="targetSpan">Required money</span></h2>       
    </div>
</div>

@section scripts{

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"  type="text/javascript"></script>
<!--SignalR script to update the chat page and send messages.-->
<script>
    $(function () {

        // Proxy created on the fly
        var job = $.connection.bookHub;

        // Declare a function on the job hub so the server can invoke it
        job.client.displayStatus = function () {
            getData();
        };

        // Start the connection
        $.connection.hub.start();
        getData();
    });

    function getData() {
        var $spanForResult = $('#targetSpan');
        $.ajax({
            url: '/BookHub/Result',
            type: 'GET',
            data: {id: @Model.Id},
            datatype: 'json',
            success: function (result) {     
              $spanForResult.html(result + "$");
            }
        });
    }
</script>
}
